{% extends "admin.html" %}

{% block title %}
    Admin
{% endblock %}

{% block mainAdmin %}
    <table class="table table-striped">
        <thead>
            <h2>
                Produtos
            </h2>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.name }}</td>
                <td>{{ produto.desc }}</td>
                <td>{{ produto.price }}</td>
                <td>
                    <img src="/static/image/uploads/{{ produto.image }}" style="object-fit:scale-down; height: 50px;">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
