{% extends "layout.html" %}

{% block title %}
    Admin
{% endblock %}

{% block main %}
<!--NAVBAR ADMIN-->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light" style="margin-top: 74px;">
    <a class="navbar-brand" href="/admin">Admin</a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Produtos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/admin/editarPrecoProdutos">Editar Preços</a>
                      <a class="dropdown-item" href="/admin/inserirProdutos">Inserir</a>
                      <a class="dropdown-item" href="/admin/apagarProdutos">Apagar</a>
                    </div>
                  </li>
            </ul>
    </div>
</nav>
<!--MAIN ADMIN-->
<main class="container p-5" style="margin-top: 74px;">
    {% block mainAdmin %}{% endblock %}
</main>
{% endblock %}
