{% extends "layout.html" %}

{% block title %}
    Conta
{% endblock %}

{% block main %}
<main class="container p-5" >
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Conta</th>
                <th>Morada</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="container">
                        <b>Username: </b>{{username}}<br>
                        <b>Mail: </b>{{mail}}
                </td>
                <td>
                    <form action="/conta" method="POST" enctype=multipart/form-data>
                    {% if exists_adress %}
                          {{nome}}<br>
                          {{street}}, {{zipcode}} {{city}}<br>
                          <button style="margin-top: 5px;" class="btn btn-sm btn-outline-secondary" type="submit" name="alterar_button" value="a">Alterar</button>
                    {% else %}
                            <a style="color: red;">Defina a morada</a><br>
                            <div class="form-group">
                                <input style="margin-top: 5px;" type="text" autofocus class="form-control"  placeholder="Nome completo" name="nome"><br>
                                <input style="margin-top: 5px;" type="text" autofocus class="form-control"  placeholder="Cidade" name="city"><br>
                                <input style="margin-top: 5px;" type="text" autofocus class="form-control"  placeholder="Rua e porta" name="street"><br>
                                <input style="margin-top: 5px;" type="text" autofocus class="form-control"  placeholder="Código Postal" name="zip">
                            <div>
                            <button class="btn btn-primary my-2" type="submit" name="submit_button">Adicionar Morada</button>
                    {% endif %}
                </form>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped" style="margin-bottom: -1px; margin-top: -16px;">
        <thead>
            <tr>
                <th>Encomendas</th>
            </tr>
        </thead>
    </table>
    {% for encomenda_data in encomendas_datas %}
    <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header" id="heading_{{encomenda_data.id}}">
            <h2 class="mb-0">
              <button style="float: left;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{encomenda_data.id}}" aria-expanded="true" aria-controls="collapse_{{encomenda_data.id}}">
                {{encomenda_data.data}}
              </button>
            </h2>
          </div>
          <div id="collapse_{{encomenda_data.id}}" class="collapse" aria-labelledby="heading_{{encomenda_data.id}}" data-parent="#accordion">
            <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Quantidade</th>
                                <th>Preço</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for encomenda in encomendas %}
                            {% if encomenda.data ==  encomenda_data.data %}
                            <tr>
                                <td>{{encomenda.product_name}}</td>
                                <td>{{encomenda.quantities}}</td>
                                <td>{{encomenda.price}} €</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
</main>
{% endblock %}