{% extends "admin.html" %}

{% block title %}
    Admin
{% endblock %}

{% block mainAdmin %}
<form action="/admin/inserirProdutos" method="POST" enctype=multipart/form-data>
    <table class="table table-striped">
        <thead>
            <h2>
                Inserir Produtos
            </h2>
            <tr>
                <th>Ação</th>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><button class="btn btn-primary" type="submit">Inserir</button></td>
                <td>-</td>
                <td>
                    <div class="form-group">
                        <input type="text" autofocus class="form-control"  placeholder="Nome" name="name">
                    <div>
                </td>            
                <td>
                    <div class="form-group">
                        <input type="text" autofocus class="form-control" placeholder="Descrição" name="desc">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" autofocus class="form-control" placeholder="Preço" name="price">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="imagem" name="file">
                    </div>
                </td>
            </tr>
        {% for produto in produtos %}
            <tr>
                <td>-</td>
                <td>{{ produto.id }}</td>
                <td>{{ produto.name }}</td>
                <td>{{ produto.desc }}</td>
                <td>{{ produto.price }}</td>
                <td>
                    <img class="card-img-top" src="/static/image/uploads/{{ produto.image }}" style="object-fit:scale-down; height: 50px;">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}
